*{
    margin:0px;
    padding:0px;
    list-style:none;
    text-decoration: none;
    color:inherit;
    font-size:inherit;
    outline:none;
    font-family:OpenSans;
}

html,body{
    width:100%;
    height:100%;
    position:relative;
    box-sizing: border-box;
    font-size:15px;
    color:#333;
}

body{
    padding:0 20px;
}

.clear{
    clear:both;
}

@font-face{
    font-family:OpenSans;
    src:url(../fonts/OpenSans.ttf);
}
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}

.label{
    padding:9px;
    color:#555;
    font-size:15px;
    display:inline-block;
    vertical-align:middle;
    cursor:pointer;
    font-weight:600;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.button{	
    display:block;
    padding:7px;
    text-align:center;
    max-width:300px;
    width:100%;
    margin:20px auto;
    font-size:17px;
    cursor:pointer;
    font-weight:600;

    border:1px solid #555;
    color:#fff;	
    background-color:#777;
    background: #777;	

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px; 
    -o-border-radius: 5px; 
    -ms-border-radius: 5px;
    -icab-border-radius: 5px; 
    border-radius: 5px; 


    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.button:active{
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    background-color:#fff;
    color:#777;
}

.text{
    border:1px solid #ccc;
    border-radius:3px;
    display: block;
    padding: 7px 15px;
    font-size:15px;
    color:#333;
    width: calc(100% - 30px);
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.text:focus{
    border-color:#66afe9;
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}

.main_loader{
    display:none;
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background-color:rgba(0,0,0,0.55);
}

.main_loader .fa{
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);    
    color:#fff;
    font-size:50px;    
}

/******************************************************************************/
/*                                    CONTENT                                 */
/******************************************************************************/

.content{
    padding:20px;
}

.expression,
.result{
    height:100px;
}